body {
    margin: 0;
    background: linear-gradient(#A268D6, #8B52BB, #743CA0, #5E2684);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    height: 5vh;
    padding: 2% 5%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    z-index: 3;
    color: black;
    transition: .25s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(#A268D6, #8B52BB, #743CA0, #5E2684);
    background-position: top;
    background-size: 100vw 100vh;
}

.nav > a > img {
    border-radius: 50%;
    height: 4.5vh;
    margin-right: 10px;
}

.nav > a {
    font-weight: bold;
    display: flex;
    color: white;
    font-size: 4.5vh;
    align-items: center;
}

.navmenu {
    display: none;
    position: fixed;
}

.waves {
    display: block;
}

.header {
    background-color: white;
    background: linear-gradient(to left, rgba(255,255,255,0) 75%, rgba(255,255,255,1)), url('../images/mixbot.jpg');
    background-size: 100vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    background-position: top right;
    background-size: 100vh;
    background-repeat: no-repeat;
}

.headerleft {
    margin: 0;
    position: absolute;
    left: -50vw;
    height: 100vh;
    width: 100vw;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background: linear-gradient(#A268D6, #8B52BB, #743CA0, #5E2684);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.headerinner {
    margin-top: 15vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 50vw;
    margin-right: 50px;
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

.headerinner > h1 {
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1;
}

.headerinner > p {
    text-align: center;
    font-size: 1.25rem;
}

.mbtn {
    background-color: #b471eb;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px 0 5px;
    border-radius: 25px;
    transition: .25s;
    font-size: 2rem;
    padding: 10px 40px;
}

.mbtn:hover {
    background-color: #9259c0;
}

.fa-discord {
    font-weight: normal;
    margin-right: 10px;
}

.mwaves {
    position: relative;
    z-index: 2;
    margin-top: 85vh;
    height: 15vh;
    width: 100vw;
    margin-bottom: -7px;
}

.content {
    z-index: 2;
    width: 100vw;
    margin-top: 0;
}

.cinner {
    padding: 5vh 5vw;
    min-height: 25vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
}

.cinner > * {
    color: black;
}

.cigrey > * {
    color: black;
}

h1 {
    display: flex;
    align-items: center;
}

.cigrey {
    padding: 5vh 5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 25vw;
}

.cigrey > * {
    color: white;
}

.cgrey {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    margin-top: 0;
}

.finner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ftxt {
    width: 100%;
    text-align: center;
    justify-content: center;
    width: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 20vh;
}

.footer > * {
    text-align: center;
}

.fwave {
    width: 100vw;
}
